name: tp_flutter
description: "Gestion de son business"
publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  google_fonts: ^6.3.3


  cupertino_icons: ^1.0.8
  flutter_animate: ^4.5.2
  provider: ^6.1.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true




